/* Color theme: https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.6549019607843137,0.7764705882352941,0.5450980392156862,0.42171717171712864,0.5,0.351010101010101,0.8434343434342573,1,0.702020202020202,0.21085858585856432,0.25,0.1755050505050505,0.7590909090908315,0.9,0.6318181818181818&swatchOrder=0,1,2,3,4 */
/* Dark Green: #36402D */
/* Medium Green: #6C7F5A */
/* Light Green: #A7C68B */

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A7C68B;
}

a
{
    color: #6C7F5A;
}

a:hover
{
    color: #36402D;
}

.druid, .creature, .Summon
{
    border: solid 3px #36402D;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #36402D;
}

.creature h1
{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.creature h2
{
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
}

.creature h3
{
    margin-top: 10px;
    font-size: 16px;
}

.creature h4
{
    font-size: 14px;
}

.creature h5
{
    font-size: 12px;
}

.creature h6
{
    font-size: 10px;
}

.creature ul
{
    padding-left: 15px;
}

.button-holder
{
    margin-top: 17px;
    width: 100%;
}