.animal
{
    border: solid 3px #444444;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    font-size: 12px;
}

.animal h1
{
    margin-top: 10px;
    font-size: 24px;
}

.animal h2
{
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
}

.animal h3
{
    margin-top: 10px;
    font-size: 16px;
}

.animal h4
{
    font-size: 14px;
}

.animal h5
{
    font-size: 12px;
}

.animal h6
{
    font-size: 10px;
}

.animal ul
{
    padding-left: 15px;
}

.button-holder
{
    margin-top: 17px;
    width: 100%;
}